<%= render 'advanced_search' %>

<h3>Quizzes</h3>
<% @results.each do |quiz| %>
	<p>
		<%= link_to quiz.name, quiz %>
		<span> from <%= link_to(quiz.user.email, user_show_path(quiz.user.id)) %></span>
	</p>
<% end %>
