<h1><%= heading %></h1>
<ol>
	<% top_results.each do |hash| %>
		<% user_email = User.find(hash[:user_id].to_i).email %>
		<% user_score = hash[:sum_points] %>
		<li><%= link_to(user_email, user_show_path(User.find(hash[:user_id].to_i))) %><%= "-> #{user_score}" %></li>
	<% end %>
</ol>
