<div class="nested-fields form-inline">
  <br>
  <%= f.text_field :value, label: "Answer:", size: 30 %>

  <%= f.check_box :is_correct, label: 'Correct?' %>

  <%= f.check_box :anchored, label: 'Anchored?' %>

  <%= link_to_remove_association 'Remove Answer', f, class: 'btn btn-md btn-default slick-btn' %>
</div>