// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application.scss';

#quiz_form {
	font-size: 16px;
}

#quiz-title {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 30px;
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}

.question-text {
	font-weight: bold;
}

.new_quiz, .edit_quiz {
	.control-label { /* the "Answer: " label */
		margin-right: 15px;
	}
	.nested-fields {
		.checkbox { /* the "Correct?" and "Anchored?" checkboxes */
			margin-right: 10px;
		}
		.form-control { /* the answer text field */
			margin-right: 10px;
		}
	}
	hr {
		border-color: #e7e7e7;
	}
	.add_fields, .remove_fields { /* The buttons in the form */
		@extend .slick-btn;
	}
	.add_fields[data-association="answer"] { /* "Add Answer" button */
    	margin-top: 15px;
	}
	input[type="submit"] {
		margin-top: 50px;
	}
}
